@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #8cc461;
  font-family: "Nunito", sans-serif;
}

.content-area {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  width: 50vw;
  border: 2px solid white;
  border-radius: 10px;
}

.content-scores {
  display: flex;
  gap: 1rem;
  width: 40%;
}

.content-scores-area {
  flex: 1;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.div-image-container {
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  box-shadow: inset 5px 5px 8px -5px gray, inset -5px 5px 8px -5px gray;
  cursor: pointer;
}

.game-lines {
  width: 300px;
  height: 15px;
  background-color: #324723;
  position: absolute;
}

.rules-area {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: end;
}

.cross-icon {
  color: white;
  background-color: red;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 900;
  border-radius: 50%;
  border: 6px solid white;
  padding: 1.4rem;
  position: absolute;
  right: -10px;
  top: -430px;
  z-index: 10;
  cursor: pointer;
}

.rules-absolute-container {
  position: absolute;
  bottom: 70px;
  right: 10px;
  width: 350px;
  background-color: #014428;
  color: white;
  padding: 1rem 1rem 1rem 2rem;
  border: 8px solid white;
  border-radius: 16px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1em;
  text-indent: -25px;
  padding-top: 1rem;
}

li::before {
  content: "■ ";
  color: yellow;
  margin-right: 10px;
}

.rules-text {
  text-align: end;
  border: 2px solid white;
  padding: 0.5rem 1.6rem;
  border-radius: 8px;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

#rules_btn {
  cursor: pointer;
}

.game-decesion {
  display: flex;
  gap: 10rem;
  align-items: center;
}

.game-decesion > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-decesion > div > p {
  color: white;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

#play_again_btn {
  background-color: white;
  padding: 0.8rem 2rem;
  outline: none;
  border: none;
  border-radius: 8px;
  color: gray;
  font-size: 16px;
  cursor: pointer;
}

.circles {
  height: 400px;
  position: absolute;
  bottom: -64%;
  width: 400px;

  > div {
    animation: growAndFade 3s infinite ease-out;
    background-color: green;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .circle1 {
    animation-delay: 0s;
  }
  .circle2 {
    animation-delay: 1s;
  }
  .circle3 {
    animation-delay: 2s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: 0.25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
